include pgidocgen/*.py
include pgidocgen/gen/*.py
include MANIFEST.in
include *.py
include *.sh
include tests/*.py
include tools/*.py
include tools/*.sh
include README.rst
recursive-include pgidocgen/data *
