include pgidocgen/*.py
include pgidocgen/gen/*.py
include pgidocgen/girdata/*.py
include MANIFEST.in
include *.py
include *.sh
include tests/*.py
include tools/*.py
include tools/*.sh
include README.rst
include LICENSE
recursive-include pgidocgen/girdata/clsimages *
recursive-include pgidocgen/girdata/doap *
recursive-include pgidocgen/girdata/docref *
recursive-include pgidocgen/gen/data *
