{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block htmltitle %}
  <title>
    {{ title|striptags|e }} -
    {% for parent in parents|reverse %}
      {{ parent.title|striptags|e }} -
    {% endfor %}
    {{ project|striptags|e }}
  </title>
  {% endblock %}

  {# FAVICON #}
  {% if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
  {% endif %}

  {# CSS #}

  {# OPENSEARCH #}
  {% if not embedded %}
    {% if use_opensearch %}
      <link rel="search" type="application/opensearchdescription+xml" title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}" href="{{ pathto('_static/opensearch.xml', 1) }}"/>
    {% endif %}

  {% endif %}

  {# RTD hosts this file, so just load on non RTD builds #}
  {% if not READTHEDOCS %}
    <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
  {% endif %}

  {% for cssfile in css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
  {% endfor %}

  <link rel="stylesheet" href="{{ pathto('_static/css/pgi.css', 1) }}" type="text/css" />

  {%- block linktags %}
    {%- if hasdoc('about') %}
        <link rel="author" title="{{ _('About these documents') }}"
              href="{{ pathto('about') }}"/>
    {%- endif %}
    {%- if hasdoc('genindex') %}
        <link rel="index" title="{{ _('Index') }}"
              href="{{ pathto('genindex') }}"/>
    {%- endif %}
    {%- if hasdoc('search') %}
        <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
    {%- endif %}
    {%- if hasdoc('copyright') %}
        <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
    {%- endif %}
    <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
    {%- if parents %}
        <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
    {%- endif %}
    {%- if next %}
        <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
    {%- endif %}
    {%- if prev %}
        <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
    {%- endif %}
  {%- endblock %}
  {%- block extrahead %} {% endblock %}

  {# Keep modernizr in head - http://modernizr.com/docs/#installing #}
  <script src="{{ pathto('_static/js/modernizr.min.js', 1) }}"></script>

</head>

<body class="wy-body-for-nav" role="document">

<div class="non-fixed-bar">
{% include "breadcrumbs.html" %}
</div>

<div class="fixed-bar">
  {% include "breadcrumbs.html" %}
</div>

  <div class="wy-grid-for-nav">

    {# SIDE NAV, TOGGLES ON MOBILE #}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      {# PAGE CONTENT #}
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="main">
            {% block body %}{% endblock %}
          </div>
          {% include "footer.html" %}
        </div>
      </div>

    </section>

  </div>

  {%- block footer %} {% endblock %}

</body>

  {% if not embedded %}
  <script>
      function inIframe() {
            try {
                return window.self !== window.top;
            } catch (e) {
                return true;
            }
      }

    if(!inIframe()) {
        var icons = document.getElementsByClassName('open-sidebar');

        for (var i = 0; i < icons.length; i ++) {
            icons[i].style.display = 'table-cell';
        }
    }
  </script>
  {%- endif %}

</html>
