name: test

on: [push, pull_request]

jobs:

  test:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Install poetry
      run: pipx install poetry

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
        cache: 'poetry'

    - name: Install Python dependencies
      run: |
        poetry install

    - name: Install runtime dependencies
      run: |
        sudo apt-get install -y \
          gir1.2-gtk-3.0 \
          gir1.2-gst-plugins-base-1.0 \
          gir1.2-freedesktop \
          gir1.2-glib-2.0 \
          libgirepository1.0-dev \
          libatk1.0-dev \
          libsoup2.4-dev \
          libgtk-3-dev \
          libges-1.0-dev \
          libunwind-dev

    - name: Run tests
      run: |
        poetry run pytest

    - name: Run flake8
      run: |
        poetry run flake8
