name: test

on: [push, pull_request]

jobs:

  test:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      run: pipx install uv

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        uv sync

    - name: Install runtime dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          gir1.2-gtk-3.0 \
          gir1.2-gst-plugins-base-1.0 \
          gir1.2-freedesktop \
          gir1.2-glib-2.0 \
          libgirepository1.0-dev \
          libatk1.0-dev \
          libsoup-3.0-dev \
          libgtk-3-dev \
          libges-1.0-dev \
          libunwind-dev

    - name: Run tests
      run: |
        uv run pytest

    - name: Run flake8
      run: |
        uv run flake8
